h1{
    color:blue;
    font-size: 50px;
    font-size: 5vw;
    text-align: center;
}

ul{
    color:green;
}

div{
    font-size: 3vw;
    text-align: center;
}

form{
    text-align: center;
}

p{
    text-align: center;
    font-size: 2vw;
}